<!-- 
  Version “A” of header
 -->

 <!-- 
  NOTE: Both <header> and <nav> are “landmark roles” in an ARIA sense.
  There is a good accessibility argument for NOT nesting <nav> within
  <header>.
    See https://dev.to/masakudamatsu/don-t-nest-nav-inside-header-do-nest-the-hamburger-menu-button-inside-nav-6cp
  -->


<header class="site-header site-header-A">

  <!-- Displays site-header image -->
  <div class="site-header-banner site-header-A-banner">
    <img src="{{site.url}}{{site.baseurl}}{{site.site_banner_image}}"/>
  </div>

  <!-- Displays textual row for site title immediately below site-header image -->
  <div class="site-header-A-title-banner">
    <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>

  
</header>
