:root {
    --site-title-color: blue ; 
    --width-textarea-max: 55rem ;
    --color-white-for-site: white ;

    --site-header-title-font-size: 2em ;
    --site-header-title-font-color: var(--color-white-for-site) ;
    --site-header-background-color: salmon ;

}

.wrapper {
    max-width: var(--width-textarea-max) ;
}

.banner-role {
    border-width: 0 ;
}

.banner-role-title-strip {
    background-color: var(--site-header-background-color) ;
    text-align: center ;
}

.banner-role-title-strip a {
    font-size: var(--site-header-title-font-size) ;
    color: var(--site-header-title-font-color) ;
}

div.top-of-post-image {
    max-width: var(--width-textarea-max) ;
}

img.top-of-post-image {
    max-width: 100% ;
    height: auto ;
    object-fit: scale-down ;
}

.top-image-caption {
    font-size: 0.8rem ;
    font-style: italic ;
}

/* CSS for Navbar */

:root {
    --navbar-background-color: var(--site-header-background-color) ;
    --navbar-hamburger-background-color: var(--color-white-for-site) ;
    --navbar-link-font-family: sans-serif ;
    --navbar-link-color: var(--color-white-for-site) ;
    --navbar-link-text-transform: uppercase ;
    --navbar-link-font-size: 1.0rem ;
    --navbar-link-hover-color: black ;
    --navbar-list-item-bottom-margin: 1em ;
    --navbar-toggle-label-height: 45px ;
    --navbar-toggle-label-background-color: white ;
    --navbar-toggle-label-border-color: gray ;
    --navbar-toggle-label-border-thickness: 2px ;
}

    /*
        CSS for collapsed (mobile) version of Navbar.
        Animation in two parts (a) scale and (b) opacity
    */

nav.nav-role {
    position: relative;
    width: 100% ;
    background: var(--navbar-background-color) ;
}

.nav-toggle {
    /* Hides the checkbox used to trigger the toggling of the navbar. */
    display: none ;
}

.navbar {
    padding-inline-start: 1em ;
    padding-block-end: 1em ;
}

.navbar-link-list ul {
    margin: 0 ;
    padding: 0 ;
    list-style: none ;
}

.navbar-link-list ul li a {
    margin-bottom: var(--navbar-list-item-bottom-margin) ;
    text-transform: var(--navbar-link-text-transform) ;
    font-family: var(--navbar-link-font-family) ;
    font-size: var(--navbar-link-font-size) ;
    color: var(--navbar-link-color) ;
}

.navbar-link-list ul li a:hover,
.navbar-link-list ul li a:focus {
    text-decoration: underline ;
}

@media screen and (max-width: 800px) {
    /* NOTE! There are two @media queries that must coordinate. The min-width
    and max-width values must be exactly equal! */
    .nav-toggle-label {
        /* Positions the navicon above the navbar, overlapping the header banner image */
        position: absolute ;
        right: 10px ;
        top: calc(-25px - var(--navbar-toggle-label-height)) ;
        /* Styles the navicon */
        background: var(--navbar-toggle-label-background-color) ;
        padding-inline: 15px ;
        padding-block: 5px ;
        border-radius: 10px ;
        border-width: var(--navbar-toggle-label-border-thickness) ;
        border-style: solid ;
        border-color: var(--navbar-toggle-label-border-color) ;
    }
    
    .navicon-button {
        width: calc(var(--navbar-toggle-label-height) * 1.2) ;
        height: var(--navbar-toggle-label-height) ;
    }
    
    .nav-toggle-label-annotation {
        font-size: 9px ;
        text-transform: uppercase ;
        text-align: center ;
        display: block ;
    }

    div.navbar {
        /* Default state (when hamburger is NOT clicked)  */
        display: none ;
    }

    .nav-toggle:checked ~ div.navbar {
        display: block ;
    }
}

    /*
        CSS for expanded (desktop) version of Navbar.
    */
@media screen and (min-width: 800px) {
    /* NOTE! There are two @media queries that must coordinate. The min-width
    and max-width values must be exactly equal! */

    /* Hides the navicon in the expanded version of Navbar */
    .nav-toggle-label {
        display: none ;
    }

    .navbar {
        display: grid ;
        grid-template-columns: 1fr auto 1fr ;
    }

    .navbar-link-list {
        grid-column: 2 / 3 ;
    }

    .navbar-link-list ul {
        display: flex ;
    }

    .navbar-link-list ul li {
        margin-inline: 1em ;
        margin-block-start: var(--navbar-list-item-bottom-margin) ;
    }
}