:root {

    /* Refactoring scss variables as custom properties */

    /* Basic styling  */
    
    /* See https://css-tricks.com/snippets/css/system-font-stack/  */
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --base-font-family: var(--system-ui) ;
    --color-black: black ;
    --color-white: white ;
    --color-gray: hsl(0, 0%, 50%) ;
    --color-gray-light: hsl(0, 0%, 75%) ;
    --color-gray-dark: hsl(0, 0%, 25%) ;
    --color-accent-primary: green ;
    --color-accent-secondary: orange ;
    --text-color: var(--color-black) ;
    --site-title-color: blue ; 
    --width-textarea-max: 55rem ;

    --site-header-title-font-size: 2em ;
    --site-header-title-font-color: var(--color-white) ;
    --site-header-background-color: salmon ;

    --table-of-contents-border-color: blue ;
    --table-of-contents-border-width: 1px ;

}

.wrapper {
    max-width: var(--width-textarea-max) ;
}

.banner-role {
    border-width: 0 ;
}

.banner-role-title-strip {
    background-color: var(--site-header-background-color) ;
    text-align: center ;
}

.banner-role-title-strip a {
    font-size: var(--site-header-title-font-size) ;
    color: var(--site-header-title-font-color) ;
}

div.top-of-post-image {
    max-width: var(--width-textarea-max) ;
}

img.top-of-post-image {
    max-width: 100% ;
    height: auto ;
    object-fit: scale-down ;
}

.top-image-caption {
    font-size: 0.8rem ;
    font-style: italic ;
}

div.table-of-contents {
    border-style: solid ;
    border-width: var(--table-of-contents-border-width) ;
    border-color: var(--table-of-contents-border-color) ;
    padding: 5px ;
    margin-block-end: 1.5em ;
}

div.table-of-contents h2 {
    font-size: 1.4rem ;
}

/* CSS for Navbar */

:root {
    --navbar-background-color: var(--site-header-background-color) ;
    --navbar-link-font-family: sans-serif ;
    --navbar-link-color: var(--color-white-for-site) ;
    --navbar-link-text-transform: uppercase ;
    --navbar-link-font-size: 1.0rem ;
    --navbar-link-hover-color: black ;
    --navbar-list-item-bottom-margin: 1em ;

    --navbar-toggle-label-background-color: white ;
    --navbar-toggle-label-border-color: gray ;
    --navbar-toggle-label-border-thickness: 2px ;
    --navbar-toggle-label-size: 20px ;
    --nav-toggle-label-annotation-font-size: 9px ;
    /* Compute vertical offset to raise “hamburger” navicon upward toward and into the site-title header */
        /*  This fudge term is arbitrary, to adjust the height to your liking
            Conceivably, this value could be redefined, differently, for posts rather than home pages. */
    --nav-toggle-label-vertical-offset-fudge-term: -18px ;
    --nav-toggle-label-vertical-offset: calc(var(--navbar-toggle-label-size) + var(--nav-toggle-label-annotation-font-size) * 1.5 + var(--navbar-toggle-label-border-thickness) * 2 + var(--nav-toggle-label-vertical-offset-fudge-term))
}

    /*
        CSS for collapsed (mobile) version of Navbar.
        Animation in two parts (a) scale and (b) opacity
    */

nav.nav-role {
    position: relative;
    width: 100% ;
    background: var(--navbar-background-color) ;
}

.nav-toggle {
    /* Hides the checkbox used to trigger the toggling of the navbar. */
    display: none ;
}

.navbar {
    padding-inline-start: 1em ;
    padding-block-end: 1em ;
}

.navbar-link-list ul {
    margin: 0 ;
    padding: 0 ;
    list-style: none ;
}

.navbar-link-list ul li a {
    margin-bottom: var(--navbar-list-item-bottom-margin) ;
    text-transform: var(--navbar-link-text-transform) ;
    font-family: var(--navbar-link-font-family) ;
    font-size: var(--navbar-link-font-size) ;
    color: var(--navbar-link-color) ;
}

.navbar-link-list ul li a:hover,
.navbar-link-list ul li a:focus {
    text-decoration: underline ;
}

@media screen and (max-width: 800px) {
    /* NOTE! There are two @media queries that must coordinate. The min-width
    and max-width values must be exactly equal! */
    .nav-toggle-label {
        /* Positions the navicon above the navbar, overlapping the header banner image */
        position: absolute ;
        right: 10px ;
        top: calc(var(--nav-toggle-label-vertical-offset) * -1) ;
        /* Styles the navicon */
        background: var(--navbar-toggle-label-background-color) ;
        padding-inline: 5px ;
        padding-block: 0px ;
        border-radius: 10px ;
        border-width: var(--navbar-toggle-label-border-thickness) ;
        border-style: solid ;
        border-color: var(--navbar-toggle-label-border-color) ;
    }
    
    .navicon-button {
        width: calc(var(--navbar-toggle-label-size) * 1.2) ;
        height: var(--navbar-toggle-label-size) ;
    }
    
    .nav-toggle-label-annotation {
        font-size: var(--nav-toggle-label-annotation-font-size) ;
        text-transform: uppercase ;
        text-align: center ;
        display: block ;
    }

    div.navbar {
        /* Default state (when hamburger is NOT clicked)  */
        display: none ;
    }

    .nav-toggle:checked ~ div.navbar {
        display: block ;
    }
}

    /*
        CSS for expanded (desktop) version of Navbar.
    */
@media screen and (min-width: 800px) {
    /* NOTE! There are two @media queries that must coordinate. The min-width
    and max-width values must be exactly equal! */

    /* Hides the navicon in the expanded version of Navbar */
    .nav-toggle-label {
        display: none ;
    }

    .navbar {
        display: grid ;
        grid-template-columns: 1fr auto 1fr ;
    }

    .navbar-link-list {
        grid-column: 2 / 3 ;
    }

    .navbar-link-list ul {
        display: flex ;
    }

    .navbar-link-list ul li {
        margin-inline: 1em ;
        margin-block-start: var(--navbar-list-item-bottom-margin) ;
    }
}